* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
    margin-top: -30px;
}

.header{
    padding-top: 50px;
    color: red;
}

.btns {
    display: flex;
    flex-direction: row;
    width: 100vh;
    height: 50;
    justify-content: space-evenly; 
    
}

button {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
}

button:hover {
    color: #fff;
    background-color: lightcoral;
    scale: 1.2; 
    transition: 150ms ease-in;
}

button:active {

}

#container {
    margin-top: 50px;
    border: 5px solid white;
    background-color: aliceblue;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    box-shadow: 10px 10px;
}

.cell {
    background-color: aliceblue;
    border: 1px solid black;
}

.footer {
    padding: 25px 0 25px;
}